<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org/" lang="en">

<head th:replace="fragments/plantilla :: head"/>

<body class="bg-dark">
  <!-- FRAGMENTO NAVBAR -->
  <nav th:replace="fragments/plantilla :: nav"/>
  <main class="container justify-content-center text-white pb-4">
    <div class="container d-flex justify-content-center">
      <form class="formulario" th:action="@{/job/modify/__${job.id}__}" method="POST" th:object="${job}">
        <div class="row">
          <input class="form-control" hidden name="id" th:value="${id}">
          <!-- <input class="form-control" hidden name="idUser" th:value="${idUser}">
          <input class="form-control" hidden name="idProvider" th:value="${idProvider}">
          <input class="form-control" hidden name="cost" th:value="${cost}"> -->

          <!-- SI EL TRABAJO ESTA PENDIENTE DEJA MODIFICAR -->
          <div th:if="${job.jobStatus == T(com.ServiceMatch.SM.enums.JobStatusEnum).PENDING}">
            <label for="description" class="text-color">Descripcion:</label>
            <input class="form-control" type="text" id="description" name="description" th:field="*{description}">

            <label for="cost" class="text-color">Costo:</label>
            <input class="form-control" type="number" id="cost" name="cost" th:field="*{cost}">
          </div>

          <!-- BONTON PARA CONFIRMAR CAMBIOS EN JOB-->
          <button class="btn btnOrigin btn-primary mt-3 botones m-auto w-auto" type="submit">Confirmar</button>
        </div>
        <!-- FRAGMENT MENSAJES DE ERROR O ÉXITO THYMELEAF RECIBIDOS DE CONTROLADOR -->
        <div th:replace="fragments/plantilla :: thmsg"/>
      </form>
    </div>

  </main>
  <footer th:replace="fragments/plantilla :: footer"/>
</body>

</html>